<h1><%= @camper.name %>'s Personal Page</h1>
<p>Age: <%= @camper.age %></p>

<% @camper.activities.each do |activity| %>
    <p> <%= link_to activity.name, activity_path(activity.id) %> </p>
<% end %>